.clients-slider {
   margin-top: -201px;
   padding: 260px 0 90px;
   background-color: #fef7f0;
   &__items {
      display: flex;
   }
   &__item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      height: 85px;
      width: 234px;
   }
}

@media (max-width: 1200px) {
   .clients-slider {
      margin-top: -176px;

      padding: 215px 0 65px;
   }
}

@media (max-width: 860px) {
   .clients-slider {
      margin-top: -151px;
      padding: 205px 0 65px;
   }
}
