html,
body {
   height: 100%;
}

body {
   font-size: 16px;
   line-height: 30px;
   display: flex;
   flex-direction: column;
}

.main {
   flex-grow: 1;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   min-width: 320px;
}
.container--long {
   max-width: 1800px;
}

.footer-container {
   max-width: 1170px;
   margin: 0 auto;
}

a {
   font-size: 14px;
   line-height: 32px;
   color: #7b7b7b;
   @extend %rubik-400;
}
