html,
body {
   height: 100%;
}

body {
   font-size: 16px;
   line-height: 30px;
   display: flex;
   flex-direction: column;
}

.main {
   flex-grow: 1;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   min-width: 320px;
}
.container--long {
   max-width: 1800px;
   margin: 0 auto;
   padding: 0 15px;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

a {
   font-size: 14px;
   line-height: 32px;
   color: #7b7b7b;
   @extend %rubik-400;
}

.title {
   @extend %dmsans-700;
   font-size: 36px;
   color: #191919;
   text-align: center;
   margin-bottom: 30px;
}
ul.gallery-nav {
   display: flex;
   justify-content: center;
   margin-bottom: 80px;
}
li.gallery-nav__item {
   margin-right: 30px;
}
button.gallery-nav__button {
   padding: 0;
   border: none;
   @extend %dmsans-700;
   color: #8b8b8b;
   background-color: transparent;
   cursor: pointer;
}
button.mixitup-control-active {
   color: #191919;
}

.breadcrumbs {
   display: flex;
   justify-content: center;
   font-size: 14px;
   line-height: 24px;
   @extend %rubik-400;
   color: #737980;

   &__list {
      display: inline-flex;
   }
   &__item {
      padding-right: 20px;
      position: relative;
      &::after {
         content: "/";
         position: absolute;
         right: 6px;
         top: 4px;
      }
      &:last-child {
         padding-right: 0;
         &::after {
            display: none;
         }
      }
   }
}

.blog__title--terms {
   color: #243f4d;
}
.blog__view--terms {
   color: #243f4d;
}
