@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
   .product-details {
      .product-item {
         &__thumb {
            display: none;
         }
         &__slide {
            margin-right: 30px;
            width: 400px;
         }
      }
   }
   .product-list {
      .content-list__items {
         grid-template-columns: repeat(2, 1fr);
      }
      .content-list__items--list {
         grid-template-columns: repeat(1, 1fr);
      }
   }
   .contacts__item {
      height: 369px;
      width: 327px;
   }
}

@media (max-width: 1050px) {
   .contacts {
      padding: 55px 0 65px;
   }
   .contacts-location__inner {
      display: block;
   }
   .contacts-form {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 90px;
   }
   .blog-form__box-input {
      display: block;
   }
   .blog-form__input-name {
      margin-bottom: 20px;
      width: 100%;
      background-position: 98% 50%;
   }
   .blog-form__input-email {
      width: 100%;
      background-position: 98% 50%;
   }
   #map {
      width: 100%;
   }
}

@media (max-width: 860px) {
   .product-details {
      padding: 60px 0;
      .product-item {
         &__big {
            width: 300px;
         }
      }
      .product-slide {
         .product-item__big {
            width: 310px;
         }
         .product-item__big img {
            width: auto;
            margin: auto;
            margin-top: 10px;
            height: auto;
            -o-object-fit: contain;
            object-fit: contain;
         }
      }
      .related-slider__item {
         margin: 60px 60px;
      }
   }
   .product-tabs {
      padding: 55px 0 60px;
      &__top {
         flex-direction: column;
         margin-bottom: 10px;
      }
      &__top-item {
         margin-left: 0 !important;
         margin-bottom: 30px;
      }
   }

   .product-list__filters {
      display: none;
      padding: 37px;
      display: block;
      top: 20px;
      position: absolute;
      width: 100%;
      z-index: 90;
      background-color: rgb(255, 255, 255);
   }
   .product-list__filter-btn {
      display: block;
      background-color: #414294;
      border: none;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      position: fixed;
      bottom: 40px;
      left: 10px;
      z-index: 100;
   }
   .product-list {
      padding: 60px 0;
      .content-list__filter {
         display: none;
      }
   }
   .terms {
      padding: 60px 0 55px;
   }
   .contacts {
      &__items {
         display: block;
      }
      &__item {
         width: 100%;
         margin-bottom: 30px;
      }
   }
}

@media (max-width: 670px) {
   .product-details {
      .product-item__inner {
         display: block;
      }
      .product-slide {
         display: block;
         margin: 0 auto;
         width: 100%;
      }
      .product-slide {
         .product-item__big {
            width: 100%;
         }
      }
      .product-item__content {
         width: 100%;
      }
   }
}
@media (max-width: 620px) {
   .modal {
      padding-top: 60px;
      max-width: 475px;
      margin: 0 auto 60px;
   }
   .product-details {
      .related-slider__item {
         margin: 60px 0;
         .related-card {
            width: 100%;
         }
         .related-card__img {
            margin: 0 auto;
         }
      }
   }

   .product-list {
      .content-list__items {
         grid-template-columns: repeat(1, 1fr);
      }
   }
}

@media (max-width: 500px) {
   .product-details {
      .related-products__top {
         display: block;
      }
      .your-class-arrow {
         margin-top: 30px;
         display: flex;
         justify-content: space-around;
      }
      .title {
         max-width: 500px;
         font-size: 33px;
         color: #243f4d;
         margin-bottom: 0;
      }
      .related-slider__item {
         margin: 30px 0;
      }
   }
}

@media (max-width: 400px) {
   .product-details {
      .product-item__form {
         display: block;
         width: 100%;
         margin-bottom: 30px;
      }
      .jq-number {
         margin-bottom: 30px;
      }
      .product-item {
         &__btn {
            margin-left: 0;
         }
         &__big {
            height: auto;
         }
      }
   }
}

@media (max-width: 380px) {
}

@media (max-width: 340px) {
}
