@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
   padding: 50px 0;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.menu {
   &__list {
      display: flex;
   }
   &__list-link {
      font-size: 15px;
      line-height: 12px;
      @extend %rubik-500;
      color: #436372;
      &:hover {
         transition: all 0.5s;
         color: #243f4d;
      }
   }
   &__list-link--active {
      color: #243f4d;
   }
   &__list-item + .menu__list-item {
      padding-left: 35px;
   }
}

.user-nav {
   display: flex;

   &__search {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 30px;
      background-color: #edf1f4;
      margin-right: 20px;
      &:hover {
         transition: all 1.3s;
         background-color: #5f7f91;
         path {
            fill: #fff;
            transition: all 0.9s;
         }
      }
   }
   &__search svg {
      position: absolute;
      top: 33%;
      right: 36%;
   }

   &__box {
      position: relative;
      display: flex;
   }
   &__favorite {
      background-color: #fcd7b6;
      border: none;
      padding: 12px 30px 0 41px;
      border-radius: 30px 0 0 30px;
      cursor: pointer;
      &:hover {
         transition: all 1.3s;
         background-color: #5f7f91;
         path {
            fill: #fff;
            transition: all 0.9s;
         }
      }
   }
   &__cart {
      background-color: #fcd7b6;
      border: none;
      margin-right: 20px;
      margin-left: -1px;
      padding: 12px 41px 0 30px;
      border-radius: 0 30px 30px 0;
      cursor: pointer;
      &:hover {
         transition: all 1.3s;
         background-color: #5f7f91;
         path {
            fill: #fff;
            transition: all 0.9s;
         }
      }
   }
   &__num {
      position: absolute;
      transform: translate(-8px, -3px);
      @extend %dmsans-400;
      width: 16px;
      height: 16px;
      font-size: 10px;
      border-radius: 50px;
      background-color: #ffffff;
      text-align: center;
      line-height: 1.7;
   }

   &__more {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 30px;
      background-color: #a3bbc8;
      &:hover {
         transition: all 1.3s;
         background-color: #5f7f91;
      }
   }
   &__more svg {
      position: absolute;
      top: 30%;
      right: 27%;
   }
}

.footer-top {
   padding: 80px 0 75px;
   border-bottom: 1px solid #dae4e9;
   display: flex;
   &__contact {
      width: 200px;
      margin-right: 100px;
   }
   &__services {
      width: 120px;
      margin-right: 180px;
   }
   &__nav {
      width: 100px;
      margin-right: 200px;
   }
   &__item-form {
      max-width: 270px;
   }
   &__logo {
      margin-bottom: 25px;
      display: flex;
   }
   &__adress,
   &__phone,
   &__email {
      display: block;
      line-height: 26px;
      margin-bottom: 10px;
   }
   &__title {
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 21px;
      color: #1f2044;
      text-transform: uppercase;
      margin: 18px 0 15px;
   }

   &__text {
      font-size: 14px;
      line-height: 24px;
      color: #7b7b7b;
      @extend %rubik-400;
      margin-bottom: 35px;
   }
   &__link {
      display: block;
   }

   &__form {
      display: flex;
   }
   &__form-input {
      max-width: 170px;
      width: 100%;
      height: 40px;
      background-color: #fef7f0;
      border: none;
      padding: 13px 15px;
      &::placeholder {
         @extend %dmsans-400;
         font-size: 12px;
         color: #234969;
      }
   }
   &__form-btn {
      border: none;
      background-color: $accent;
      color: #fff;
      padding: 5px 15px;
      cursor: pointer;
   }
}

.footer-bottom {
   height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__copy {
      font-size: 14px;
      line-height: 32px;
      color: #7b7b7b;
      @extend %rubik-400;
   }

   &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__menu-list {
      padding-left: 30px;
      position: relative;
      &:not(:last-child) {
         ::after {
            content: "|";
            position: absolute;
            margin-left: 15px;
         }
      }
   }
}

.top {
   padding: 35px 0;
   background-color: #edf1f4;
   &__title {
      font-size: 36px;
      line-height: 24px;
      color: #222933;
      @extend %rubik-300;
      text-align: center;
      margin-bottom: 8px;
   }
}

.top-slider {
   &__inner {
      background-color: #fcd7b6;
   }
   &__item {
      padding: 220px 0 240px;
   }
   &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 15px;
      position: relative;
      ::before {
         content: "";
         position: absolute;
         right: -70px;
         top: 50%;
         width: 634px;
         height: 634px;
         border-radius: 50%;
         transform: translate(11%, -50%);
         background: linear-gradient(270deg, #fff, rgba(0, 0, 0, 0));
         z-index: -1;
      }
   }

   &__title {
      max-width: 430px;
      font-size: 72px;
      line-height: 70px;
      color: #243f4d;
      @extend %rubik-500;
      margin-bottom: 25px;
   }
   &__text {
      max-width: 360px;
      margin-bottom: 35px;
      @extend %rubik-400;
      font-size: 18px;
      line-height: 30px;
      color: #436372;
   }
   &__link {
      @extend %rubik-500;
      color: #fff;
      background-color: $accent;
      padding: 21px 20px 21px 27px;
      &:hover {
         transition: all 1.3s;
         background-color: #5f7f91;
      }
   }
   span {
      margin-right: 60px;
   }
   .slick-dots {
      display: flex;
      justify-content: center;

      li {
         padding: 0 5px;
         line-height: 0;
         margin-bottom: 40px;
         button {
            padding: 0;
            font-size: 12px;
            line-height: 0;
            @extend %rubik-500;
            color: #243f4d;
            background-color: #fde3cc;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
         }
         &.slick-active {
            button {
               background-color: #fff;
            }
         }
      }
   }
}

.advantages {
   margin-bottom: 70px;
   background-color: #fef7f0;
   &__items {
      display: flex;
   }
   &__item {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 48px;
      @extend %dmsans-400;
      position: relative;
   }
   &__item:not(:last-child) {
      border-right: 1px solid rgba(36, 63, 77, 0.1);
   }
   &__info {
      padding-left: 80px;
      max-width: 306px;
      background-position: 0 7px;
      background-repeat: no-repeat;
   }
   &__info--support {
      background-image: url("../images/icons/icon-support.svg");
   }
   &__info--delivery {
      background-image: url("../images/icons/icon-delivery.svg");
   }
   &__info--cart {
      background-image: url("../images/icons/icon-payment.svg");
   }
   &__title {
      font-weight: 700;
      font-size: 18px;
      color: #414141;
   }
   &__text {
      font-size: 16px;
      line-height: 30px;
      color: #585858;
   }
}

.products {
   &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      margin-bottom: 145px;
   }
   &__item {
      margin: 0 15px 40px;
      width: calc(100% / 4 - 30px);
      height: 380px;
   }
   .product-card {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 27px 15px 35px;
      height: 100%;
      border-radius: 10px;
      height: 100%;
      text-align: center;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      &__img-wrap {
         margin: auto auto 80px;
         max-height: 168px;
      }

      &__title {
         font-size: 16px;
         color: #243f4d;
         @extend %dmsans-500;
         margin-bottom: 11px;
      }
      &__price {
         @extend %dmsans-700;
         color: #a3bbc8;
      }
      &__navigation {
         position: absolute;
         display: flex;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         transition: opacity 0.3s;
         overflow: hidden;
      }
      &__item {
         transform: translateY(300%);
         transition: all 0.3s;
      }

      &__item:not(:last-child) {
         margin-right: 16px;
      }
      &__btn {
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0;
         width: 45px;
         height: 45px;
         border: none;
         border-radius: 50%;
         background-color: #fff;
         transition: all 1.3s;
         cursor: pointer;
         box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
         &:hover {
            background-color: #a3bbc8;
            path {
               fill: #fff;
               transition: all 1.3s;
            }
         }
      }
      &:hover {
         .product-card__item {
            transform: translateY(0);
            transition: all 0.3s;
         }
      }
   }
}

.offers {
   margin-bottom: 100px;
   &__items {
      display: flex;
   }
   &__item {
      padding: 97px 100px 100px 130px;
      width: 100%;
      background-color: #feefe2;
      color: #243f4d;
   }
   &__item:not(:last-child) {
      margin-right: 30px;
   }
   &__content {
      position: relative;
      padding-left: 255px;
   }
   &__img {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 405px;
      max-width: 235px;
      object-fit: cover;
   }
   &__title {
      @extend %dmsans-700;
      margin-bottom: 20px;
      font-size: 26px;
   }
   &__text {
      @extend %rubik-400;
      margin-bottom: 34px;
   }
   &__link {
      padding: 20px;
      border: 1px solid #d8d3cc;
      border-radius: 5px;
      color: #243f4d;
      &:hover {
         transition: all 1s;
         background-color: #f8b57d;
      }
   }
   &__link span {
      padding-right: 45px;
   }
}

.design {
   margin-bottom: 120px;
   &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
   }

   &__item {
      height: 245px;
      width: calc(100% / 3 - 30px);
      margin: 0 15px 34px;
      &:hover {
         transition: all 0.5s;
         box-shadow: 1px 2px 7px 8px rgba(3, 3, 3, 0.05);
      }
   }
   .design-card {
      position: relative;
      padding: 35px 0 0 35px;
      height: 100%;
      background-color: #f8f8f8;
      @extend %dmsans-700;
      &__image-wrap {
         position: absolute;
         right: 0;
         bottom: 35px;
         max-width: 270px;
      }
      &__image-wrap--chair {
         position: absolute;
         right: 30px;
      }
      &__img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &__card-title {
         font-size: 20px;
         color: #191919;
         max-width: 171px;
      }
      &__text {
         color: #a3bbc8;
      }
   }
}

.video-popup {
   background-image: url("../images/video-popup-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   position: bottom bottom;
   height: 500px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 115px;
}

.blog {
   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
   }
   &__view {
      position: relative;
      padding-right: 25px;
      font-size: 16px;
      color: #262626;
      @extend %dmsans-700;
      &:hover {
         transition: all 0.5s;
         color: #6ba7c7;
      }
   }
   &__view svg {
      position: absolute;
      right: 0;
      top: 10px;
   }
   &__items {
      display: flex;
   }
   &__item:not(:last-child) {
      margin-right: 30px;
   }
   .blog-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: 5px;
      max-width: 370px;
      &__img-wrap {
         position: relative;
      }
      &__img {
         width: 100%;
         height: 250px;
         border-radius: 5px 5px 0 0;
      }
      &__subtitle {
         position: absolute;
         left: 28px;
         bottom: -15px;
         padding: 0 31px;
         border: 1px solid transparent;
         border-radius: 15px;
         @extend %popppins-700;
         font-size: 14px;
         text-transform: uppercase;
         color: #fff;
         background-color: #a3bbc8;
         &:hover {
            transition: all 0.5s;
            background-color: #6ba7c7;
         }
      }
      &__info {
         display: flex;
         flex-direction: column;
         padding: 35px 30px 25px;
         height: 100%;
         background-color: #fff;
      }

      &__link {
         margin-bottom: 15px;
      }
      &__title {
         @extend %dmsans-500;
         font-size: 18px;
         line-height: 25px;
         color: #262626;
      }
      &__bottom {
         display: flex;
         margin-top: auto;
         padding-top: 17px;
         border-top: 1px solid #e0e0e0;
         font-size: 12px;
         text-transform: uppercase;
         @extend %rubik-400;
         color: #222933;
      }

      &__descr {
         position: relative;
         padding-left: 18px;
      }
      &__descr--date {
         color: #222933;
         padding-right: 30px;
      }
      &__descr--date svg {
         margin-right: 5px;
      }
      &__descr--author {
         color: #222933;
         max-width: 140px;
      }
   }
}

.clients-slider {
   margin-top: -201px;
   padding: 260px 0 90px;
   background-color: #fef7f0;
   &__items {
      display: flex;
   }
   &__item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      height: 85px;
      width: 234px;
   }
}

.modal {
   padding-top: 120px;
   max-width: 475px;
   margin: 0 auto 120px;
   &__label {
      display: block;
      margin-bottom: 30px;
      @extend %rubik-400;
      color: #436372;
   }
   &__input {
      display: block;
      width: 100%;
      background-color: transparent;
      border: 1px solid #f6f6f6;
      height: 60px;
      margin-top: 4px;
      padding: 0 15px;
   }

   &__btn {
      display: block;
      border: none;
      padding: 14px 0;
      width: 100%;
      cursor: pointer;
      @extend %rubik-500;
      color: #fff;
      background-color: #a3bbc8;
   }

   .box {
      display: flex;
      justify-content: space-between;
      margin-top: 35px;
      border-bottom: 1px solid #f6f6f6;
   }
   a.modal__lost,
   a.modal__registred {
      color: #436372;
   }
   a.modal__registred {
      display: flex;
      justify-content: center;
      padding: 32px 0 22px;
   }
   &__btn--create {
      background-color: #fff;
      color: #243f4d;
      border: 1px solid #a3bbc8;
      text-align: center;
   }
}

#clients-slider {
   padding: 80px 0;
   background-color: #fef7f0;
}

.terms {
   padding: 120px 0 110px;
   &__content {
      max-width: 1200px;
      width: 100%;
      @extend %rubik-400;
      font-size: 16px;
      color: #243f4d;
   }
   &__title {
      @extend %rubik-500;
      font-size: 24px;
      color: #243f4d;
      margin-bottom: 25px;
   }
   ol.terms__list {
      list-style-type: none;
      counter-reset: my-counter;
      margin-bottom: 70px;
   }

   &__item {
      display: flex;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   li::before {
      content: "0" counter(my-counter) ".";
      counter-increment: my-counter;
      margin-right: 12px;
   }

   &__text {
      margin-bottom: 60px;
   }
}

.about {
   padding: 120px 0;
   &__inner {
      display: flex;
      justify-content: center;
   }
   &__content {
      max-width: 570px;
      width: 100%;
      margin-left: 45px;
   }
   &__info {
      display: flex;
      align-items: center;
      margin-top: 85px;
      max-width: 280px;
      margin-bottom: 50px;
   }
   &__num {
      @extend %rubik-700;
      font-size: 140px;
      color: #a3bbc8;
   }
   &__box {
      margin: 25px 0 0 25px;
   }
   &__num-text {
      @extend %rubik-400;
      color: #243f4d;
   }
   &__title {
      @extend %dmsans-700;
      font-size: 36px;
      color: #243f4d;
      margin-bottom: 45px;
   }
   &__text {
      @extend %rubik-400;
      color: #243f4d;
      margin-bottom: 65px;
   }

   .line {
      max-width: 500px;
      border-bottom: 2px solid #e6eaf0;
      margin-bottom: 25px;
   }

   &__items {
      display: flex;
   }
   &__item {
      padding-left: 65px;
      max-width: 200px;
      width: 100%;
      &:not(:first-child) {
         padding-left: 85px;
      }
      &:not(:last-child) {
         border-right: 1px solid #e6eaf0;
      }
   }

   &__item-title {
      @extend %dmsans-700;
      font-size: 36px;
      color: #243f4d;
      padding-top: 4px;
   }
   &__item-text {
      @extend %dmsans-700;
      color: #4c4c4c;
      padding-left: 3px;
   }

   &__item--projects {
      background-image: url("../images/about-page/icons/project-icon.svg");
      background-repeat: no-repeat;
      background-position: 5px 10px;
   }
   &__item--revenue {
      background-image: url("../images/about-page/icons/revenue-icon.svg");
      background-repeat: no-repeat;
      background-position: 25px 10px;
   }
   &__item--awards {
      background-image: url("../images/about-page/icons/awards-icon.svg");
      background-repeat: no-repeat;
      background-position: 25px 10px;
   }
}

.vidgets {
   padding: 90px 0 80px;
   background-color: #fcd7b6;
   &__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   &__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      &:nth-child(2) {
         margin-top: 10px;
      }
   }

   &__img {
      max-width: 70px;
      margin: 0 auto 20px;
   }

   &__title {
      @extend %dmsans-700;
      font-size: 36px;
      color: #243f4d;
      margin-bottom: 20px;
   }
   &__text {
      @extend %dmsans-700;
      font-size: 18px;
      color: #243f4d;
   }
}

.team {
   padding: 120px 0;
   &__inner {
      display: flex;
      justify-content: space-between;
   }
   &__content-left {
      max-width: 310px;
   }
   &__title {
      @extend %dmsans-700;
      font-size: 36px;
      color: #243f4d;
      margin-bottom: 35px;
   }
   &__text {
      @extend %rubik-400;
      font-size: 16px;
      color: #243f4d;
      margin-bottom: 40px;
   }
   &__link {
      @extend %popppins-600;
      font-size: 15px;
      padding: 19px 35px 19px 19px;
      border-radius: 5px;
      color: #fff;
      background-color: #a3bbc8;
   }
   &__link span {
      margin-left: 20px;
   }

   &__content-right {
      max-width: 770px;
      margin-left: 100px;
   }
   &__image-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-column-gap: 30px; - ширина
      // grid-row-gap: 40px; - высота
      grid-gap: 100px 30px;
   }
   &__img {
      position: relative;
   }
   .team-info {
      display: flex;
      justify-content: space-around;
      position: absolute;
      margin-top: -50px;
      max-width: 320px;
      width: 100%;
      height: 110px;
      background-color: #fff;
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
   }

   &__info-text {
      margin-top: 30px;
   }
   &__name {
      @extend %dmsans-700;
      font-size: 22px;
      color: #436372;
   }

   &__position {
      @extend %rubik-400;
      color: #565872;
   }

   &__links {
      display: flex;
      margin-top: 37px;
   }

   &__social-link {
      position: relative;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      background-color: #f6f6f6;
      &:not(:last-child) {
         margin-right: 7px;
      }
   }
   &__inst {
      position: absolute;
      top: 11px;
      right: 12px;
   }
   &__google {
      position: absolute;
      top: 9px;
      right: 9px;
   }
}

.product-list {
   padding: 120px 0;
   &__inner {
      display: flex;
   }
   &__filters {
      width: 270px;
      margin-right: 30px;
   }
}

.filter__title {
   font-size: 18px;
   text-transform: uppercase;
   @extend %dmsans-700;
   color: #243f4d;
   margin-bottom: 30px;
   overflow: hidden;
   &::after {
      content: "";
      display: inline-block;
      width: 40px;
      height: 2px;
      margin-left: 15px;
      margin-bottom: 5px;
      background-color: #a3bbc8;
   }
}

.filter-category,
.filter-brand {
   margin-bottom: 60px;
   &__label {
      cursor: pointer;
   }
   &__box {
      display: flex;
      justify-content: space-between;
      padding: 15px 23px 15px 15px;
      border-radius: 7px;
      @extend %rubik-400;
      color: #243f4d;
      margin-bottom: 3px;
   }
   &__input {
      @extend %input-hidden;
      &:checked + .filter-category__box {
         background-color: #edf1f4;
      }
   }
}

.filter-brand {
   margin-bottom: 60px;
   &__label {
      cursor: pointer;
   }
   &__box {
      display: flex;
      justify-content: space-between;
      padding: 15px 23px 15px 15px;
      border-radius: 7px;
      @extend %rubik-400;
      color: #243f4d;
      margin-bottom: 3px;
   }
   .filter-brand__box-num {
      width: 30px;
      text-align: center;
      color: #b3b3b3;
   }

   &__input {
      @extend %input-hidden;
      &:checked + .filter-brand__box {
         background-color: #edf1f4;
      }
      &:checked + .filter-brand__box span {
         color: #243f4d;
      }
   }
}

.filter-price {
   margin-bottom: 60px;
   &__box {
      display: flex;
      justify-content: space-between;
      @extend %rubik-400;
      font-size: 14px;
      color: #243f4d;
   }
}
.irs--flat {
   height: 25px;
}

.irs--flat .irs-line {
   top: 0;
   height: 2px;
   background-color: #c2d2db;
   border-radius: 2px;
}
.irs--flat .irs-bar {
   top: 0;
   height: 4px;
   background-color: #a3bbc8;
}

.irs--flat .irs-handle {
   top: -7px;
   width: 15px;
   height: 15px;
   background-color: #a3bbc8;
}
.irs--flat .irs-handle > i:first-child {
   display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
   display: none;
}

.irs-max,
.irs-min {
   display: none;
}

.filter-recent {
   &__inner {
      display: flex;
   }

   .recent-title {
      padding-left: 3px;
   }

   &__items-img {
      display: flex;
      flex-direction: column;

      margin-right: 20px;
   }

   &__item-img {
      width: 70px;
      height: 70px;
      border: 3px solid #f2f2f2;
      margin-bottom: 20px;

      & img {
         margin: 0 auto;
      }
   }
   &__info {
      margin-bottom: 15px;
   }
   &__content {
      display: flex;
      flex-direction: column;
   }

   &__title {
      @extend %rubik-400;
      font-size: 14px;
      line-height: 15px;
      color: #333333;
      margin-bottom: 10px;
   }
   &__price {
      @extend %rubik-400;
      font-size: 15px;
      color: #333333;
   }
}
.star {
   margin-bottom: 7px;
}
.jq-ry-container {
   padding: 0;
}

.product-list__content {
   margin-bottom: 105px;

   .product-list__filter {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      padding: 15px 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
   }
   .product-list__filter-title {
      @extend %dmsans-500;
      color: #243f4d;
      font-size: 20px;
   }
   .product-list__filter-buttons {
      display: flex;
      align-items: center;
   }
   .product-list__filter-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-left: 185px;
      line-height: 0;
   }
   .product-list__filter-btn--active {
      path {
         fill: rgb(253, 34, 18) !important;
      }
   }

   .product-list__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 40px;
      &.product-list__items--list {
         grid-template-columns: repeat(1, 1fr);
      }
   }
   .product-list__filter-btn--active {
      display: flex;
   }

   .product-list__item {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      border-radius: 10px;
      height: 380px;
      position: relative;
      &:hover {
         .product-card__item {
            transform: translateY(0);
            transition: all 0.3s;
         }
      }
   }

   .product-list__card {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      padding: 27px 15px 35px;
   }

   .product-list__image-wrapper {
      max-height: 195px;
      margin: auto auto 80px;
   }
   .bed {
      margin-right: -15px;
   }
   .product-list__info {
      text-align: center;
      @extend %dmsans-500;
      color: #243f4d;
      & span {
         @extend %dmsans-700;
         color: #a3bbc8;
      }
   }

   .product-list__navigation {
      position: absolute;
      display: flex;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s;
      overflow: hidden;
   }
   .product-card__item {
      transform: translateY(300%);
      transition: all 0.3s;
      &:not(:last-child) {
         margin-right: 16px;
      }
   }
   .product-card__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50%;
      background-color: #fff;
      transition: all 1.3s;
      cursor: pointer;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      &:hover {
         background-color: #a3bbc8;
         path {
            fill: #fff;
            transition: all 1.3s;
         }
      }
   }
}

@import "media";
