@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
   padding: 50px 0;
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.logo {
   display: flex;
}

.menu {
   &__list {
      display: flex;
      font-size: 15px;
      line-height: 12px;
      @extend %rubik-500;
   }
   &__list-item + .menu__list-item {
      padding-left: 35px;
   }
   &__list-link {
      color: #436372;
   }
}

.user-nav {
   display: flex;

   &__link {
      position: relative;
   }

   & img {
      position: absolute;
      bottom: 32%;
      left: 32%;
   }

   &__link:nth-child(1) {
      background-color: #edf1f4;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 20px;
   }
   &__link:nth-child(1):hover {
      background-color: #c2c5c7;
      transition: all 2.8s;
   }

   &__link:nth-child(2) {
      background-color: #fcd7b6;
      width: 90px;
      height: 50px;
      border-radius: 50px 0px 0px 50px;
   }

   &__link:nth-child(3) {
      background-color: #fcd7b6;
      width: 90px;
      height: 50px;
      border-radius: 0 50px 50px 0;
      margin-right: 20px;
   }

   &__link:nth-child:hover(3) {
      background-color: black;
   }

   &__link:nth-child(4) {
      background-color: $accent;
      width: 50px;
      height: 50px;
      border-radius: 50%;
   }

   &__link:nth-child(4):hover {
      background-color: #606669;
      transition: all 2.8s;
   }

   &__num {
      @extend %dmsans-400;
      color: #243f4d;
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      top: 10px;
      right: 35px;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
   }
}

.footer-top {
   padding: 80px 0 75px;
   border-bottom: 1px solid #dae4e9;
   display: flex;
   &__contact {
      width: 200px;
      margin-right: 100px;
   }
   &__services {
      width: 120px;
      margin-right: 180px;
   }
   &__nav {
      width: 100px;
      margin-right: 200px;
   }
   &__item-form {
      max-width: 270px;
   }
   &__logo {
      margin-bottom: 25px;
   }
   &__adress,
   &__phone,
   &__email {
      display: block;
      line-height: 26px;
      margin-bottom: 10px;
   }
   &__title {
      @extend %dmsans-700;
      font-size: 16px;
      line-height: 21px;
      color: #1f2044;
      text-transform: uppercase;
      margin: 18px 0 15px;
   }

   &__text {
      font-size: 14px;
      line-height: 24px;
      color: #7b7b7b;
      @extend %rubik-400;
      margin-bottom: 35px;
   }
   &__link {
      display: block;
   }

   &__form {
      display: flex;
   }
   &__form-input {
      max-width: 170px;
      width: 100%;
      height: 40px;
      background-color: #fef7f0;
      border: none;
      padding: 13px 15px;
      &::placeholder {
         @extend %dmsans-400;
         font-size: 12px;
         color: #234969;
      }
   }
   &__form-btn {
      border: none;
      background-color: $accent;
      color: #fff;
      padding: 5px 15px;
   }
}

.footer-bottom {
   height: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__copy {
      font-size: 14px;
      line-height: 32px;
      color: #7b7b7b;
      @extend %rubik-400;
   }

   &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__menu-list {
      padding-left: 30px;
      position: relative;

      &:not(:last-child) {
         ::after {
            content: "|";
            position: absolute;
            margin-left: 15px;
            margin-top: -2px;
         }
      }
   }
}

@import "media";
